/*! 
    I've taken a bunch of these from various places (mostly the reset css styles).
    But I'm using normalize.css now so I wanted to retain some of them.
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }

/*- self-clearing floats ----------*/
.mod:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}